dist/
**/*.tsbuildinfo
shared/*.js
edmx/
gen/
node_modules/
target/
resources/
mta_archives/
tmp/

server/config*.json
server/homepage*.json

default-env.json
Makefile*.mta
*_mta_build_tmp/
build-info.json
tmp-*

# BTP Health
server/public/
*.mtar
mtad.yaml
localStore/
server/pw-browsers/
.env
*.local
